<form action="/piglatinize" method="POST">
  <label for="user_phrase">Enter your phrase:</label>
  <textarea name="user_phrase" id="user_phrase"></textarea>

  <input type="submit" value="Submit">
</form>